body {
  background: black;
}

img {
  width: 100%;
  border: 5px solid white;
}

.poster {
  color: white;
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
  text-align: center;
}

h1 {
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  font-size: 3rem;
}
